/* HEADER */

header {
  height: 116px;
  background: var(--white);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.navbar {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  position: relative;
  z-index: 20;
}

.logo img {
  width: 100%;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto;
}

.nav-links a {
  font-size: 14px;
  font-weight: 700;
  color: var(--navy);
  position: relative;
  padding: 10px 10px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: var(--gold);
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 65px;
  height: 3px;
  background: var(--gold);
}

.visit-btn {
  margin-left: 0;
  background: var(--gold);
  color: var(--white) !important;
  border-radius: 3px;
  transition: 0.3s ease;
}

.visit-btn:hover {
  background: var(--light-gold);
}

/* MOBILE MENU */

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: var(--navy);
}